@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  /* slate-900 */
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  /* Prevent scrolling on the drawing app */
  background: #ffffff;
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}